<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mapper标签要指定namespace属性，不然会报错，且mapper开发时设置为Mapper接口的全限定名-->
<mapper namespace="aaron.cheng.mybatis.dao.kidodata.ChildSettingDao">  
	<!--方法名和id一致，#{}中的参数名与方法中的参数名一直 -->
	<select id = "getSetting" parameterType = "int" resultType = "aaron.cheng.mybatis.entry.ChildSettingEntry">
		select ApproveFriendFlag,EyeshieldPatternFlag,EyeshieldStartTime,EyeshieldEndTime,CallWhiteListFlag,
			SMSFlag,TraceUploadFlag,SyncWarningFlag from children_flag where ChildId = #{childid}
			<!-- sql语句后面不能加冒号 -->
	</select>
	<select id = "addSetting" parameterType = "int" resultType = "aaron.cheng.mybatis.entry.ChildSettingEntry">
		select ApproveFriendFlag,EyeshieldPatternFlag,EyeshieldStartTime,EyeshieldEndTime,CallWhiteListFlag,
			SMSFlag,TraceUploadFlag,SyncWarningFlag from children_flag where ChildId = #{childid}
			<!-- sql语句后面不能加冒号 -->
	</select>
</mapper>